nav(class="navbar navbar-expand-lg navbar-light bg-light") 
  p(class="navbar-brand") Next-Lift
  a(href='/next-lift' class="nav-item nav-link active") My Next Lift
  a(href='/dashboard' class="nav-item nav-link active") My Dashboard
  a(href='/explore' class="nav-item nav-link active") View Library
  form(method='post', action='/logout')
    button(type='submit' class="btn btn-warning") Log Out

//- TODO navbar fixed-top 