doctype html
html
  head
    title tr-obot
    link(rel="stylesheet" href='/css/main.css' type="text/css")

  body
    include partials/nav
    
    .container-fluid
      block content

    script
      include ../../client/app.js