doctype html
html
  head
    title Next-Lift
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css")
    link(rel="stylesheet" href='/css/main.css' type="text/css")

  body
    include partials/nav
    
    .container-fluid
      block content

    script(src='https://code.jquery.com/jquery-3.3.1.min.js')

    script
      include ../../client/app.js