extends layout

block content

  h1 My Next Lift
  button(class="btn btn-warning")
    a(href='/logSuggested') Log This Lift
  div(class="container")
    div(class="row")
      for lift in suggestedLift
        include partials/lift-card