extends layout

block content
  a(class="btn btn-warning" href="/next-lift" role="button") Back To Suggested
  h1 Similar to #[span #{term}]
    div(class="container")
      div(class="row")
        for lift in results
          include partials/lift-card