extends layout

block content
  for lift in suggestedLift
    h1 #{lift.liftname}
    h2 Lift Stats:
      if(lift.createdAt != null)
        p  Last Date Performed: #{lift.liftdate}
        p  Weight: #{lift.weight}
        p  Reps Completed: #{lift.rep_count}
      else
        p No Lift History